---
const identity = {
    firstName: "Max",
    country: "Ireland",
    occupation: "Technical Writer",
    hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "React",
    "Astro",
    "Writing Docs",
    "Python",
    "C++",
];
---

<html lang="en">
    <head> </head><a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <title>My Blog Website</title>

    <body>
        <h1>My Blog</h1>
        <h1>About Me</h1>
        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>
                I live in {identity.country} and I work as a {
                    identity.occupation
                }.
            </li>
            {
                identity.hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are: {identity.hobbies[0]} and{" "}
                        {identity.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        <p></p>

        <p></p>
        <style>
            body {
              background-color: #f5f0e6;
              color: #333333; /* Optional: good contrast */
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 20px;
            }
    </body>


</html>
